@font-face {
  font-family: 'iconfont';
  /* Project id  */
  src: url('iconfont.ttf?t=1696831478733') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: '\e618';
}

.icon-github-fill:before {
  content: '\e885';
}

.icon-email-fill:before {
  content: '\e856';
}

.icon-telegram:before {
  content: '\f245';
}

.icon-moon:before {
  content: '\e6c3';
}

.icon-sun:before {
  content: '\e886';
}
